<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    
    <div id="player"></div>

    <input id="music-input" placeholder="Enter video name">
    <button id="confirm-music" onclick="playMusic(document.getElementById('music-input').value)">Confirmar</button>
    
    <script src="{{ url_for('static', filename='js/youtube-frame.js') }}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </body>
</html>