<!DOCTYPE html>
<html>
  <head>
    <title>RitualIA</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    
    <div id="player"></div>

    <input id="music-input" placeholder="Enter video name">

    <button id="confirm-music">
      Confirmar
    </button>

    <ul id="catalog">

    </ul>
    
    <script src="{{ url_for('static', filename='js/youtube-frame-controls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/navigation-controls.js') }}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </body>
</html>